adbc_driver_manager==0.10.0
adbc_driver_postgresql==0.10.0
adbc_driver_sqlite==0.10.0
aiodns==3.1.1
aioquic==0.9.25
altair_saver==0.5.0
altair_viewer==0.4.0
anyio==3.5.0
anywidget==0.9.3
apache_beam==2.54.0
AppKit==0.2.8
async_timeout==4.0.1
atheris==2.3.0
awscrt==0.20.5
beautifulsoup4==4.11.1
bokeh==2.4.2
brotlicffi==1.1.0.0
brotlipy==0.7.0
cairocffi==1.6.1
Carbon==1.1.10
cbor==1.0.0
chart_studio==1.1.0
checks==0.2
ConfigParser==6.0.1
contextlib2==21.6.0
ctypes_snappy==1.03
Cython==0.29.28
cytoolz==0.11.0
defcon==0.10.3
defusedxml==0.7.1
disco==1.40.4
docutils==0.17.1
docutils==0.17.1
elasticsearch==8.12.1
faiss==1.5.3
fastai==2.7.14
fastapi==0.110.0
fastparquet==2024.2.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freetype_py==2.4.0
gitdb_speedups==0.1.0
glyphsLib==6.6.6
gradio==4.19.2
gunicorn==21.2.0
hf_transfer==0.1.6
HTMLParser==0.0.2
httpcore==1.0.4
httpx==0.27.0
hypothesis==6.98.17
importlib_resources==6.1.2
InquirerPy==0.3.4
ipykernel==6.9.1
ipython==8.12.3
ipywidgets==7.6.5
isal==1.6.0
isoduration==20.11.0
jax==0.4.25
jaxlib==0.4.25
jnius==1.1.0
joblib==1.1.0
joblibspark==0.5.2
JPype1==1.5.0
jsonpointer==2.4
kerberos==1.3.1
kerchunk==0.2.3
keyring==23.4.0
librosa==0.10.1
lxml==4.8.0
lz4==4.3.3
lzmaffi==0.3.0
mock==4.0.3
mtrand==0.1
munkres==1.1.4
mypy==1.8.0
numexpr==2.8.1
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.9
paramiko==3.4.0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==5.6.0
pox==0.3.4
psutil==5.8.0
py==1.11.0
py7zr==0.21.0
pycares==4.4.0
pycurl==7.45.3
pydantic==2.6.3
pygit2==1.14.1
PyInstaller==6.4.0
pymongo_auth_aws==1.1.0
pymongocrypt==1.9.1
pyOpenSSL==21.0.0
pyOpenSSL==24.0.0
pyperf==2.6.2
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.6.1
PySide2==5.15.2.1
PySide6==6.6.2
pyspark==3.5.1
pytest==7.1.1
python_calamine==0.2.0
pyxlsb==1.0.10
QtPy==2.0.1
Quartz==0.0.1.dev0
railroad==0.5.0
rarfile==4.1
redis==5.0.2
reportlab==4.1.0
requests_kerberos==0.14.0
Res==0.1.7
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.2.0
safetensors==0.4.2
scikit_learn==1.0.2
scipy==1.7.3
selenium==4.18.1
service_identity==18.1.0
sets==0.3.2
setuptools==68.2.2
setuptools==61.2.0
setuptools_scm==8.0.4
shiboken2==5.15.2.1
shiboken6==6.6.2
simplejson==3.19.2
sip==6.8.3
slack_sdk==3.27.1
sniffio==1.2.0
snowflake==0.6.0
soundfile==0.12.1
spacy==3.7.4
Sphinx==4.4.0
SQLAlchemy==1.4.32
sympy==1.10.1
tensorboardX==2.6.2.2
testbench==0.1.2
thread==0.1.3
threadpoolctl==3.3.0
tiktoken==0.6.0
torch==2.2.1
torch_xla==2.2.0
traitlets==5.1.1
transformers==4.38.2
trio==0.24.0
ufoLib2==0.16.0
uharfbuzz==0.39.0
ujson==5.1.0
unicodedata2==15.1.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.19.0
vegafusion==1.6.5
watchdog==2.1.6
webcolors==1.13
winkerberos==0.10.0
wmi==1.5.1
xarray==0.20.1
xattr==1.1.0
xlrd==2.0.1
XlsxWriter==3.0.3
xmlrpclib==1.0.1
xxhash==3.4.1
zopfli==0.2.3
zstandard==0.22.0
